/* Figma colors */
$primary-main: #f5c400;
$primary-light: #ffe057;
$primary-dark: #e7ad00;
$primary-contrast: #2f3133;

$secondary-main: #616161;
$secondary-contrast: #ffffff;
$secondary-light: #c7c7c7;
$secondary-dark: #4a4646;

$tertiary-dark: #665660ff;
$tertiary-main: #80707aff;
$tertiary-contrast: #ffffffff;
$tertiary-light: #a69aa0ff;

$text-primary: #494949;
$text-secondary: #000000;
$text-black: #0c0b0b;

$text-placeholder: #8b857d;
$text-300: #bcbcbc;
$text-400: #d7d4d4;
$text-label: #b98500;

$grey-grey-100: #f2f5f7;
$grey-grey-200: #ebeef0;
$grey-grey-300: #dfe3e6;
$grey-grey-400: #d3d8db;
$grey-grey-500: #c7cdd1;
$grey-white: #ffffff;
$grey-black: #000000;

$action-focus-ring: #951d0a;
$action-divider-light: #00000029;
$action-divider-dark: #dddddd;
$action-hover: #f5eac7;

$background-default: #eeeeee;
$background-light: #fafafa;
$background-paper: #ffffff;
$background-modal: #0a0704d4;
$background-tab-active: #d8d8d8de;
$background-tab-inactive: #f7fafc;
$background-action-slider-open: #ffffffd4;
$background-sortbar: #f0e9ed;

$error-main: #f7193e;
$error-dark: #e90f36;
$error-light: #ffe8e5;
$error-contrast: #ffffff;

$warning-main: #f76903;
$warning-dark: #e34d0c;
$warning-light: #ffb547;
$warning-contrast: #ffffff;

$success-main: #4caf50;
$success-dark: #3b873e;
$success-light: #7bc67e;
$success-contrast: #ffffff;

$scale-waytoolow: #1d5680;
$scale-toolow: #bbdaf1;
$scale-ok: #8dba77;
$scale-toohigh: #ff8b1d;
$scale-waytoohigh: #f44336;

$main-header: #252a31;
$main-header-contrast: #f5f5f5;
$comment: #ff00ffde;
$descriptive-text: #00000094;

$card-bgrd-default: #eeeeee;
$card-bgrd-dark: #dddddd;
$card-bgrd-light: #fafafa;

$info-main: #2196f3;
$info-dark: #0b78ce;
$info-light: #64b6f7;
$info-contrast: #ffffff;

$blanched-almond: #f5eac7;
$yellow-sf: #e7ad00;
$hansa-yellow: #ebcb6a;
$old-gold: #d9b23b;
$yellow-sf-d2: #bb7650;
$crimson-glory: rgba(231, 173, 0, 0.2);

$white: #ffffff;
$lightgrey-sf: #eeeeee;
$lightgrey-sf-d1: #e7e7e7;
$lightgrey-sf-d3: #d0d0d0;
$lightgrey-sf-d4: #d8d8d8;
$lightgrey-sf-d14: #494949;
$platinum: #e3e3e3;
$lightgrey-sf-navitem-area: #8b8a7d;
$lightgrey-sf-tooltip-border: #afb7bd;

$legend-blue: #577acd;
$legend-red: #e35740;
$legend-green: #8dba77;
$legend-yellow: #e7ad00;

$alert-red: #f7193e;

$invalid-bg: #fff0f3;
$invalid-bottom: #f7193e;
$invalid-active-border: #8f3971;

$desert-sand: #ecbbb4;
$carmine-pink: #e35740;
$dark-pastel-red: #c13e28;
$rufous: #951d0a;
$cafe-noir: #4e3105;

$pastel-green: #c6dcbc;
$pistachio: #8dba77;
$sap-green: #44832b;
$forest-green: #34711f;
$lincoln-green: #1d4d0a;

$glitter: #e0edf7;
$pale-aqua: #bbdaf1;
$dark-blue: #5f9cc8;
$darker-blue: #1d5680;

$grid-row-selection: #faefcc;

$munsell: #ebeef0;
$gainsboro: #dddddd;
$ash-grey: #afb7bd;
$trolley-grey: #7b7b7b;
$outer-space: #494949;
$snow: #fafafa;

$deep-carrot-orange: #f86422;
$edit-button: #e7ad00;
